.puzzle {
    font-size: 24px;

    > .content {
        > * {
            display: inline-block;
            margin: 0 7px;
            vertical-align: middle;
        }
    }

    .matrix {
        > .row {
            overflow: auto;
            > .cell {
                float:left;

                width: 18px;
                height: 18px;

                border: 1px solid white;

                background: #c7c7c7;

                &.filled {
                    background: black;
                }
            }
        }
    }

    &.show-disruptions {
        .matrix {
            > .row {
                > .cell.wrong {
                    background: #efc7c7;

                    &.filled {
                        background: #e05050;
                    }
                }
            }
        }
    }
}